doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .finder 
            input(type="text", name="" id='finderBar' placeholder='Szukaj wpisu')
            input#finderButton(type="button", value="Wyszukaj") 