div(class='footer')
    div(class='newsletter')
        span Bądź z nami na bieżąco: 
        input(type="email", name="emailNewsletter" placeholder='twój@mail.com' )
    div(class='other')

    div(class='informationsAboutCompany')