link(rel='stylesheet', href='/stylesheets/menu.css')
.menu
  ol.ol
    li.li
      a(href='/home') Strona główna
      ul.ul
    li.li
      a(href='/addticket') Złóż ticket
      ul.ul
    li.li
      a(href='/reset') Resety
    li.li
      a(href='/logout') Wyloguj
      ul.ul